body{
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  }
  
  nav {
    width: 100%;
  
    background-color: #424558;
  }
  
  nav > ul{
    margin: 0px;
    padding: 0px;
  }
  
  nav li {
    list-style-type: none;
  }
  
  nav > ul > li{
  
    position: relative;
  }
  
  ul {
    display: flex;
  }
  
  nav > ul ::after{
    content:"";
    display: table;
    clear: both;
  }
  
  
 
  nav input[type=checkbox]{
  display: none;
  }
  nav label {
    display: none;
  }
  
  .submenu{
    display: none;
  }
  
  
  
  nav a{
    display: inline-block;
    text-decoration: none;
  }
  
  nav > ul >li > a {
    padding: 20px 30px;
    color: #FFF;
  }
  
  nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
  }
  
  .submenu li a {
    padding: 15px 30px;
    font-size:13px;
    color: #222538;
    width: 270px;
  }
  
  .menu-programmes:hover{
    border-top: 5px solid #e44d26;
    background-color: RGBa(228,77,38,0.15);
  }
  .menu-services:hover{
    border-top: 5px solid #00bb09;
    background-color: RGBa(000,112,192,0.15);
  }
  
  .menu-about:hover{
    border-top: 5px solid #f1dc4f;
    background-color: RGBa(241,211,79,0.15);
  }
  .menu-contact:hover{
    border-top: 5px solid #BBB;
    background-color: RGBa(220,220,220,0.15);
  }
  
  nav >ul > li :hover a{
    padding: 15px 30px 20px 30px;
  }
  
  .submenu li{
    border-bottom: 1px solid #ccc
  }
  
  .menu-programmes .submenu{
    background-color: RGB(230,100,40);
  }
  .menu-services .submenu{
    background-color: RGB(000,160,240);
  }
  .menu-about .submenu{
    background-color: RGB(251,216,99);
  }
  
  .submenu li:hover a{
    color:#EEE;
    font-weight: bold;
  }
  
  .menu-programmes .submenu li:hover{
    background-color: RGB(210,77,60);
  }
  .menu-services .submenu li:hover{
    background-color: RGB(000,115,200);
  }
  .menu-about .submenu li:hover{
    background-color: RGB(200,165,75);
  }
  
  
  
  
  
  
  @media screen and (max-width:768px)
  {
    
  input:checked ~ ul{
    display: block;
  }
  .menu-mobile{
      display: block;
      color: #fff;
      background-color: rgba(29, 197, 151, 0.97);
      text-align: center;
      padding:  12px 0px;
    }
  
  nav ul{
    display: none;
  }
  nav ul li, nav ul li a{
    width: 100%;
    text-align: center;
  }
  nav ul li a, nav ul li:hover a{
    padding: 10px 0px;
  }
  nav li:hover .submenu{
    display: block;
    position: static;
  }   
  .menu-mobile:hover{
    cursor: pointer;
  }
  }